<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h1 class="display-4">Stylianos Kostopoulos</h1>
      <h3>Front-End Web Developer</h3>
      <p class="lead">Athens 11853 </p> 
        <div class="lead">
          697-690-3472
        </div> 
        <div class="lead">
          stekosto2@gmail.com
        </div> 
        <div class="lead">
          linkedin.com/in/stekosto
        </div>
        <div class="lead">
          github.com/stekosto
        </div>
      <!-- <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
      
    </div>
</div>
